@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');

.App{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2f74c0;
  font-family: "Neucha", cursive;
}

.heading{
  text-transform: uppercase;
  font-size: 40px;
  margin: 30px 0;
  color: white;
  z-index: 1;
  text-align: center;
  cursor: pointer;
}

.todoList{
  background-color: aliceblue;
  width: 20rem;
  padding: 2rem 3rem;
  margin: 2rem 0 0 0;
  text-decoration: none;
  list-style: none;
}
.remove-todo{
  display: none;
}

.todos-container{
  display: flex;
  min-width: 70%;
 justify-content: center;
 margin: 2rem 1rem;
}
.todoItem{
  display: flex;
  flex: 1;
  gap: 0.5rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid black;
}
.text{
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}
.icons{
  font-size: 1.5rem;
  margin-left: 1rem;
  cursor: pointer;
}

.partition{
  background-color: gray;
  width: 1px;
  border: none;
  opacity: 0.7;
  margin: 0 2rem;
  
}

.doneTodos{
  display: flex;
  flex: 1;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.doneText{
  opacity: 0.5;
}

@media screen and (max-width: 800px) {
  .heading{
    margin: 15px 0;
    font-size: 35px;
  }
}